#headerContent {position: relative;}

#navOpenBtn.icon {
    @include bp(smallPortrait) {top: .5rem; left: 0; font-size: 1.65em;}
    @include bp(smallLandscape) {top: .75rem; left: 1%; font-size: 1.75em;}
    @include bp(medium) {top: 2.25rem; left: 3%; font-size: 2.5em;}
    @include bp(large) {top: 2.5rem; left: 1%; font-size: 2.75em;}
}

#logo {
    position: absolute;
    @include bp(smallPortrait) {display: none;}
    @include bp(smallLandscape) {width: 65px; top: .75rem; right: 3.5%;}
    @include bp(medium) {width: 85px; top: 1.75rem; right: 4%;}
    @include bp(large) {width: 100px; top: 2rem; right: 4%;}
}

#pageTitle {
    @include bp(small) {margin: 1rem;}
    @include bp(smallPortrait) {padding-left: 1rem;}
    @include bp(medium) {margin: 2rem;}
    @include bp(large) {margin: 2.5rem;}

    h1 {
        margin: 0;
        letter-spacing: .075em;
        @include bp(smallPortrait) {font-size: 1.25rem; }
        @include bp(afterSmall) {font-size: 2.75rem;}

    }

    h4 {
        color: $secondaryTextColor;
        text-transform: uppercase;
        letter-spacing: 0;
        margin: .25rem 0 0;
        @include bp(smallPortrait) {font-size: .85rem;}
        @include bp(afterSmall) {font-size: 1.15rem;}
    }

    h1, h4 {text-align: center; font-weight: 300;}
}
