// BREAK POINTS
$smallPortrait:  414px;
$smallLandscape:  767px;
$mediumLandscape: 1280px;

// STRUCTURE
$contentWidth: 1280px;
$contentPadding: 2.5em;


// FONTS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
//@include font-face($primaryChildFont, 'fonts/#{$primaryChildFont}', 300, normal);
$primaryChildFont: 'open-sans';



// COLOURS


$primaryTextColor: #425254; //dark grey
$secondaryTextColor: #e97017; //orange
$tertiaryTextColor: white;


$primaryBgColor:white;// white
$secondaryBgColor:#e97017;//orange e97017
$tertiaryBgColor:#2a2a2a;//slate dark grey

$contentLinkColor:$secondaryBgColor;
$contentLinkHoverColor: #425254;

$primaryOutlineColor: #425254;

//HEADER
$headerTextColor: $primaryTextColor;
$headerBgColor: transparent;


// NAVIGATION
$mobileNavOnly: true; //Set navigation to display hamburger style menu on all sizes
$menuPadding: .5em;
$menuLiMargin: .65em;

$mainMenuFont: 'open-sans';
$mainMenuFontSize: 1.15em;
$mainMenuFontWeight: 300;

//OPEN & CLOSE BTBS
$mobileMenuOpenBtnColor: #777;
$mobileMenuCloseBtnColor: white;


//MOBILE MENU
$mobileMenuPadding: 1.5em;
$mobileMenuLiMargin: 1.25em;
$mobileMenuBgColor: $tertiaryBgColor;
$mobileMenuLinkColor: $tertiaryTextColor;
$mobileMenuLinkHoverColor: $secondaryTextColor;

//DESKTOP MENU
$desktopMenuPadding: .5em;
$desktopMenuMargin: .65em;
$desktopMenuColor: $secondaryBgColor;
$desktopMenuBgColor: $tertiaryBgColor;
$desktopMenuLinkColor: #425254;
$desktopMenuLinkHoverColor: $secondaryBgColor;
