#projectsCpt {
    .project {
        @include bp(small) {margin-bottom: .25rem;}
        @include bp(smallPortrait) {width: 100%;}

        &:hover .projectImg {
            @include boxShadow();
            @include bp(large) {
                @include transform(scale(.97));
            }
        }

        .projectTitle {
            font-size: .9em;
            color: $primaryTextColor;
            outline: 1px solid #dcdcdc;
        }

        .projectImg {
            //default vars set in plugin
            //include bp(smallPortrait) {height: 200px;}
            //@include bp(smallLandscape) {height: 175px;}
            //@include bp(afterSmall) {height: 200px;}
        }

        .projectAddress {
            @include bp(small) {
                color: $tertiaryTextColor;
                position: absolute;
                top: 100px;
                width: 100%;
                font-weight: bold;
            }
            @include bp(afterSmall) {color: $primaryTextColor;}
        }
    }//.project
}//#projectsCpt

#projectsContent {
    overflow: hidden;
    clear: both;

    background-color: $primaryBgColor;
    @include bp(smallPortrait) {padding: .75em;}
    @include bp(smallLandscape) {padding: 1.25em;}
    @include bp(afterSmall) {padding: 1.75em;}
}

//TEMP STYLING FOR CONTENT IPSUM
.projects .overlayContent #content {
    margin-top: 1.5rem;

    img {
        max-width: 30%;
        display: inline-block;
        float: right;

        + p {
            max-width: 60%;
            float: left;
        }
    }

    p {
        clear: right;
        margin: 2rem 0;
    }

    h4 {
        clear: both;
        float: right;
    }

}
