// scss-lint:disable SelectorFormat,
//MENU DEFAULTS
#nav {
    font-size: $mainMenuFontSize;
    font-weight: $mainMenuFontWeight;
}

//MENU TOGGLE BUTTONS
#navOpenBtn.icon {
    position: absolute;
    z-index: 99999;
    padding: 1rem;
    color: $mobileMenuOpenBtnColor;
    font-weight: 300;

}

#navCloseBtn {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    color: $mobileMenuCloseBtnColor;
    font-size: 1.25em;
}

    //Hide respective elements when menu changes
    .mobileMenuOpen #navOpenBtn,
    .desktopMenu #navOpenBtn,
    .mobileMenuClosed #navCloseBtn,
    .mobileMenu.mobileMenuClosed #nav {
        display: none;
    }

//MOBILE MENU
//.mobileMenu {}
.mobileMenuOpen #nav {
    z-index: 9999;
    position: absolute;
    top: 0; left: 0;
    min-height: 250px;
    width: 18.5em;
    background-color: $mobileMenuBgColor;
    a {color: $mobileMenuLinkColor;}
    a:hover {color: $mobileMenuLinkHoverColor;}
}


%horizontalMenu {
    text-align: center;
    padding: $desktopMenuPadding;
    background-color: $desktopMenuBgColor;

    .menu > li {
        display: inline-block;
        position: relative;
        margin: $desktopMenuMargin;
        :not(:hover) .sub-menu {display: none;}
        :hover > .sub-menu {display: block;}
    }


    .sub-menu {
        position: absolute;
        top: 100%; left: 0;
        width: 15em;
        li {display: block;}
    }

    a {color: $desktopMenuLinkColor;}
    a:hover {color: $desktopMenuLinkHoverColor;}
}

%mobileMenu {
    padding: $mobileMenuPadding;
    background-color: $mobileMenuBgColor;

    .menu > li {
        margin: $mobileMenuLiMargin;
        :hover > .sub-menu {display: none;}
        .sub-menu {
            position: absolute;
            top: 100%; left: 0;
            width: 15em;
            li {display: block;}
        }
    }

    //ADD SUB-MENU SUPPORT

    a {color: $mobileMenuLinkColor;}
    a:hover {color: $mobileMenuLinkHoverColor;}
}

// DESKTOP MENU
@if $mobileNavOnly == false {
    .desktopMenu #nav {@extend %horizontalMenu;}
    .mobileMenu #nav {@extend %mobileMenu;}
}

@if $mobileNavOnly == true {
    #nav {@extend %mobileMenu;}
}

