div#grid-toggle{position:fixed; top:.5%; left:1%; padding:.5rem; background-color:rgba(0,0,0,.35); color:white; z-index:20000; cursor:pointer; text-align: center;}

div#windowSize{position:fixed; bottom:2%; left:2%; padding:.5rem; background-color:rgba(0,0,0,.35); color:white; z-index:20000; cursor:pointer; text-align: center;}


.devTesting.grid .column{
  min-height: 200px;
  text-align:center;
  padding: 1em 0;
  background: url(img/testing/blue-width-left.png) no-repeat 0 0,
  url(img/testing/blue-width-right.png) no-repeat 100% 0,
  url(img/testing/blue-width-middle.png) repeat-x 0 0,
  }


//html.devTesting.grid { background: rgb(244, 244, 244) url(img/testing/html-bg.png) repeat-x 0 1.618em; }

//.devTesting.grid body { background: url(../core/img/testing/margin-bg.png); }

.devTesting.grid .column {background-color: #F4F4F4;}

.devTesting.grid .column{

  background: url(img/testing/blue-width-left.png) no-repeat 0 0,
  url(img/testing/blue-width-right.png) no-repeat 100% 0,
  url(img/testing/blue-width-middle.png) repeat-x 0 0,
  rgba(244,244,244,0.5);
  }
  
.devTesting.grid .gutter{
  background: url(img/testing/margin-bg.png);
}
  
