

#footerOut {
    background-color: $tertiaryBgColor;
    @include bp(small) {padding: 1rem 0;}
}

#footerContent {
    text-align: center;
    h2, h3 {
        font-weight: 300;
        color: #444;
    }

    h2 {
        @include bp(smallPortrait) {font-size: 1.35rem;}
        @include bp(smallLandscape) {font-size: 1.35rem;}
        @include bp(afterSmall) {font-size: 1.2rem;}
        .icon {
            font-size: .75em;
        }
    }

    h3 {
        @include bp(smallPortrait) {font-size: .9rem;}
        @include bp(smallLandscape) {font-size: 1.35rem;}
        @include bp(afterSmall) {font-size: .75rem; margin-bottom: .25rem;}

    }

    .footerKeywords {
        font-size: .85rem;
        margin-top: 1rem;
        color: #555;
        @include bp(smallPortrait) {font-size: .65rem; margin: 1rem;}
        @include bp(afterSmall) {font-size: .85rem; margin: 1rem;}
     }

    .mailto {
        padding: .5rem;
        display: inline-block;
        color: #666;
        .icon {
            @include bp(small) {font-size: .65em;}
            @include bp(afterSmall) {font-size: .9em;}
        }
    }

    .separator {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
